@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-image: url(IMG/bg.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 8rem;
    margin-top: -25rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 10rem;
    line-height: 1;
    margin: 3rem;
}

.countdown-e1 {
    text-align: center;
}

.countdown-e1 span{
    font-size: 1.3rem;
}



